<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybbs.DAOIF.IF_BBSDAO">

	
	<!-- 글 리스트 -->
	<select id="selectAll" resultType="postDTO">
		SELECT * from bbsyuzuin ORDER BY NUM DESC LIMIT #{nowPageStart}, #{pageCnt}
	</select>
	
	<!-- 글 상세보기 -->
	<select id="selectOne" resultType="postDTO">
		select * from bbsyuzuin where num = #{num}
	</select>
	
	<!-- 글쓰기 -->
	<insert id="insertPost">
		insert into bbsyuzuin(name,password,title,content) 
		values(#{name},#{password},#{title},#{content})
	</insert>
	<!-- 댓글 리스트-->
	<select id="selectCommentAll" resultType="comment">
		select * from bbsComment where postNum= #{postNum}
	</select>
	<!-- 댓글 달기 -->
	<insert id="insertComment">
		insert into bbsComment(name,password,content,postNum) values(#{name},#{password},#{content},#{postNum})
	</insert>
	
	<!-- 글 수정 -->
	<update id="modPost">	<!--update는 resultType을 못쓰나봄...?-->
	update bbsyuzuin set title=#{title},name=#{name},content=#{content} where num = #{num}
	</update>
	<!-- post allCount -->
	<select id="allCount" resultType="int">
		select count(*) as total from bbsyuzuin
	</select>
	<!-- 글삭 -->
	<delete id="delPost">
		delete from bbsyuzuin where num = ${postNum}
	</delete>

</mapper>